
h1{
    background-color: unset !important;
}

h1{
    background-color: orange;
}

.heading{
    background-color: blue !important;
} 
.heading{
    background-color: unset;
} 
#demo{
    background-color: gray;
} 
#demo{
    background-color: unset;
}



 a[target="_blank"]{
    background-color: orange;
}

a[target]{
    background-color: orange;
}

a[href="https://www.facebook.com"]{
    text-decoration: none;
}


a[href^="https"]{
    text-decoration: none;
}  
