@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


.container {
    max-width: 1560px;
    margin: auto;
    padding: 15px 20px;
}

/* START NAVBAR */
header {
    background-image: url(./background.jpeg);
    /* display: block; */
    height: 100vh;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.navbar-link {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    font-weight:900;
    
}

.navbar-link nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}
li a {
color: white;
padding:20px 30px;
    display:flex;
    align-items:center;

} 

.nav-btn ul li:nth-child(1) a {
    display: block;
    /* height: 50px;
  width: 200px; */
    padding:15px 25px;
    background-color: white;
    border-radius: 100px;
    text-align: center;
    white-space: nowrap;
    color: #262b32;
}

   .heading{
    font-size:28px;
    color: white;
   }

   .description{
    color: white;
    font-size: 25px ;
margin-bottom: 50px;
   }
   .btn :nth-of-type(1) {
    padding: 10px 20px;
    background-color: white;
    border-radius: 100px;
    color:#262b32;

   }
   .btn :nth-of-type(2){
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid;
    border-color: white;
    color: white;
   }
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-top: 200px;
}

.img1 img{ 
    width: 600px;
}

.text1{
    width: 45%;
}

/* 2 page start */
.trp{
    margin-top: 150px;
    color: #747ed1;
   
}

.hkl{
    margin-top: 20px;
    color:#343f52;
    font-size:36px;
}

.lol{
    text-align: center;
}